body {
    background-image: url('../images/grass.png');
    background-repeat: repeat;
    background-size: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 29em;
    margin: 40px auto;
}

h1 {
    text-transform: uppercase;
    color: #62b800;
    text-shadow: 2px 2px #123f00;
    font-size: 2em;
    letter-spacing: 0.1em;
}

button {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5sem;
    letter-spacing: 0.1em;
    width: 100%;
    border: none;
    padding: 15px 20px;
    cursor: pointer;    
}

button:focus {
    color: #FFF;
    background-color: #123f00;
}

.game {
    width: 350px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.div-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.div-item-hidden-background {
    background-image: none !important;
    background-color: #505050 !important;
}

.img-item {
    height: auto;
    width: 80px;
    cursor: pointer;
}

.retry-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: #123f00;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background-color: #123f00;
    padding: 5px 10px;
    border-radius: 10px;
}

h2 {
    color: #62b800;
    font-size: 14px;
    padding: 10px 0;
}

.dev-name {
    color: #ffd700;
    padding: 10px 0;
    text-decoration: none;
}